body {
  margin: 0;
  background: linear-gradient(135deg, #4b6cb7, #182848);
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero button {
  background: white;
  color: #182848;
  padding: 15px 30px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #ddd;
}
